/* style.css */
/* ETCH-A-SKETCH */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  font-family: 'Open Sans', Tahoma, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.title {
  margin: 0;
  font-weight: 700;
}

.container {
  border: 2px dashed black;
  width: 450px;
  height: 450px;
  display: flex;
  flex-flow: row wrap;
}

.buttons-container {
  display: flex;
  gap: 20px;
}

.buttons-container > button {
  background-color: transparent;
  color: black;
  border: 2px dashed black;
  border-radius: 9px;
  padding: 4px 8px;
  cursor: pointer;
  transition: background-color 0.4s, color 0.4s;
}

.buttons-container > button:hover {
  background-color: black;
  color: white;
}

.passed-over {
  background-color: black;
}

*.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode.container,
.dark-mode.buttons-container > button {
  color: white;
  border: 2px dashed white;
}

.dark-mode.container .passed-over {
  background-color: white;
}

.dark-mode.buttons-container > button:hover {
  background-color: white;
  color: black;
}

#dark-mode {
  background-color: black;
  color: white;
}

#dark-mode.dark-mode {
  background-color: white;
  color: black;
}

#dark-mode:hover {
  font-weight: 800;
}