/* style.css */
/* ETCH-A-SKETCH */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  overflow: hidden;
}

.container {
  border: 2px dashed black;
  width: 450px;
  height: 450px;
  display: flex;
  flex-flow: row wrap;
}

.square {
  flex: 1 0 6.25%;
}

.passed-over {
  background-color: black;
}